// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

$my_primary: #F2C111;
$my_secondary: #79C0FE;
$my_light: #F1EFF0;
$my_dark: #DF9A00;
$my_placeholder-color: #d3d3d3;
