<div>
  <div id="hero-section">
    <h1>Virgin Cocktails</h1>
    <p>À CONSOMMER SANS MODÉRATION</p>
  </div>

  <div class="container mt-3">
    <div id="card-row">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card-cocktail">
            <h2 class="card-name"><%= cocktail.name %></h2>
            <% if cocktail.photo.attached? %>
              <div class="card-img"><%= cl_image_tag cocktail.photo.key %></div>
            <% else %>
              <div class="card-img"><%= image_tag "cocktails/missing_img.jpg" %></div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
