<nav id="navbar" class="border text-center fixed-top">
  <div id="at-home"><i class="icon-glass"></i></div>
  <div id="blank"></div>
  <form action="" id="search">
    <input id="input-search" type="text" placeholder="Type a cocktail name">
    <p><i class="icon-search"></i></p>
  </form>
  <div id="btn-new-cocktail">Add new cocktail</div>
</nav>