.my-primary-btn {
  background-color: $my_primary;
  color: white;
  border-radius: 60px;
  margin: 0 20px 0 30px;
  padding: 8px 32px;
  
  &:hover {
	background-color: white;
	color: $my_primary;
	border: 1px solid $my_primary;
  padding: 8px 31px;
  }
}

#btn-submit {
  margin-left: 0;
  border: none;
  
  &:hover {
    border: 1px solid $my_primary;
  }
}

.delete-btn, .edit-btn {
  width: 100px;
  text-align: center;
  background-color: $my_primary;
  color: white;
  border-radius: 60px;
  padding: 8px 16px;

  &:hover {
	background-color: white;
	color: $my_primary;
	border: 1px solid $my_primary;
  padding: 8px 15px;
  }
}

.edit-btn {
  padding: 8px 24px !important;
}